//
// THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
// USE: git clone git+ssh://$USER@puppet.debian.org/srv/puppet.debian.org/git/dsa-puppet.git
//

acl Nagios {
<%=
  roles = scope.lookupvar('site::roles')
  str = ''
  roles['nagiosmaster'].each do |node|
          scope.lookupvar('site::allnodeinfo')[node]['ipHostNumber'].each do |ip|
              str += "\t" + ip + "/32;\n"
          end
  end
  str-%>
};

options {
	directory "/var/cache/bind";

	auth-nxdomain no;    # conform to RFC1035
	listen-on { ! 127.0.0.1; any; };
	listen-on-v6 { ! ::1; any; };

	allow-transfer { none; };
	allow-update { none; };
<% if classes.include?("named::geodns") -%>
	blackhole { 192.168.0.0/16; 10.0.0.0/8; 172.16.0.0/12; };
<% end -%>

<%=
  allowed='Nagios; '

  str =  "\tallow-recursion { " + allowed + " };\n"
  str += "\tallow-query { " + allowed + " };\n"

  str
-%>

<% if classes.include?('named::authoritative') or classes.include?('named::geodns') -%>
	dnssec-enable yes;
	dnssec-validation yes;
<% end -%>

	// Defaults are 100 and 10, causing lots and lots of tiny updates.
	// This way, I hope, we'll get fewer (and thus bigger) updates. -- weasel
	sig-signing-nodes 5000;
	sig-signing-signatures 1000;

	max-journal-size 100K;
};

logging {

	channel queries {
<% if classes.include?('named::geodns') -%>
		file "/var/log/bind9/geoip-query.log" versions 4 size 40m;
<% else -%>
		file "/var/log/bind9/named-query.log" versions 4 size 40m;
<% end -%>
		print-time yes;
		print-category yes;
	};
	category queries { queries; };
	category lame-servers { null; };

	channel transfers {
		file "/var/log/bind9/named-transfers.log" versions 4 size 40m;
		print-time yes;
		print-category yes;
	};
	category xfer-out { transfers; };
	category notify { transfers; };

};

<% if scope.function_has_role(['dns_primary']) -%>
masters "easydns-masters" {
	// https://cp.easydns.com/manage/domains/secondary/edit.php
	64.68.200.91;
	205.210.42.80;
};
acl "easydns-ACL" {
	// https://cp.easydns.com/manage/domains/secondary/edit.php
	64.68.200.91/32;
	205.210.42.80/32;
	key 82.195.75.91-key ;
};

masters "rcode0-masters" {
	83.136.34.7;   // rcode0.net ipv4 ntfy
	2A02:850:8::6; // rcode0.net ipv6 ntfy
};
acl "rcode0-ACL" {
	83.136.34.0/27;  // rcode0.net ipv4 axfr
	2A02:850:8::/47; // rcode0.net ipv6 axfr
};

masters "dnsnode-masters" {
	192.36.144.222; // zork-b.sth.dnsnode.net
	192.36.144.218; // zork-c.sth.dnsnode.net
};
acl "dnsnode-ACL" {
	192.36.144.222; // zork-b.sth.dnsnode.net
	192.36.144.218; // zork-c.sth.dnsnode.net
};

masters "dnsnodeapi-masters" {
	194.146.105.24; // zorknds-b.sth.dnsnode.net
	2a01:3f0:0:27::24;
	194.146.105.25; // zorknds-c.sth.dnsnode.net
	2a01:3f0:0:28::25;
};
acl "dnsnodeapi-ACL" {
	// 194.146.105.24; // zorknds-b.sth.dnsnode.net
	// 2a01:3f0:0:27::24;
	// 194.146.105.25; // zorknds-c.sth.dnsnode.net
	// 2a01:3f0:0:28::25;
	key netnod-debian-20171122 ;
};
<% end -%>

include "/etc/bind/named.conf.puppet-shared-keys";
